@model SSEInvoice.Models.ViewModels.QuotViewModels

@{
    Func<int, string> getQuot = delegate (int x)
    {
        var y = x.ToString();
        if (y.Length <5)
        {
            for (var i = y.Length; i <5; i++)
            {
                y = "0" + y;
            }
        }
        return "SSE"+y;
    };
    ViewData["Title"] = "Invoice : " + getQuot(Model.Quotation.Id);
    Layout = "~/Views/Shared/_Layout.cshtml";
    string totalIgst, totalCgst, totalSgst;
}
<style>
    .h-40 {
        height: 40px;
    }
</style>
<div class="row" id="PrintableArea">
    <div class="col-sm-12">

        <div class="container border" >
            <div class="row ">
                <div class="col-sm-2">
                    <a class="navbar-brand" href="#"><img style="height: 100px;" src="~/images/shyaml.jpg"></a>
                </div>
                <div class="col-sm-7">
                    <h3>Shree Shyam Enterprise</h3>
                    <address>
                        @Html.Raw(Model.BusinessDetails.FirstOrDefault()?.Address?.AddressToString()) <br />
                        GST Number : <strong>@Model.BusinessDetails.FirstOrDefault()?.GSTNumber </strong>
                    </address>
                </div>
                <div class="col-sm-3 text-center">
                    <p>
                        <h3>Tax Invoice</h3>
                        Number: <strong>@getQuot(Model.Quotation.Id)</strong>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 border">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Invoice Date</strong>
                        </div>
                        <div class="col-sm-6">
                            : @DateTime.Now.ToShortDateString()
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Terms</strong>
                        </div>
                        <div class="col-sm-6">
                            : Due On Reciept
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>PO Number</strong>
                        </div>
                        <div class="col-sm-6">
                            : <span id="ponumber" onclick="addPoNumber()"><b class="btn btn-link">click to add</b></span>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-sm-6">
                                <strong>PO Number</strong>
                            </div>
                            <div class="col-sm-6">
                                : 3210104
                            </div>
                        </div>*@
                    @*<div class="row">
                            <div class="col-sm-6">
                                <strong>E-way Bill</strong>
                            </div>
                            <div class="col-sm-6">
                                : 181000001348
                            </div>
                        </div>*@
                </div>
                <div class="col-sm-6 border">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Bill To</strong>
                        </div>
                        <div class="col-sm-6">
                            <address>
                                : @Html.Raw(Model.Quotation.Customer.PermanentAddress.AddressToString())
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>GST Number</strong>
                        </div>
                        <div class="col-sm-6">
                            : @Html.Raw(Model.Quotation?.Customer?.GSTNumber)
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row bg-secondary">
                    <div class="col-6 border-right">
                        <strong>Bill To</strong>
                    </div>
                    <div class="col-6">
                        <strong>Ship To</strong>
                    </div>
                </div>*@
            @*<div class="row ">
                    <div class="col-6 border-right pt-1">
                        <strong>Client Name </strong>
                        <address>
                            Plot No 600 1st Floor<br>
                            Shreet No - 2, Bhawani Enclave, Basai Road<br>
                            Gurgaon, Haryana 122414<br>
                        </address>
                        <p>GSTNUMBER HERE</p>
                    </div>
                    <div class="col-6 pt-1">
                        <address>
                            Plot No 600 1st Floor<br>
                            Shreet No - 2, Bhawani Enclave, Basai Road<br>
                            Gurgaon, Haryana 122414<br>
                        </address>
                    </div>
                </div>*@
            <div class="row border-top pt-3">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-6">
                            Product-wise Detail
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-10">
                            @*We are please to provide our quotation for following goods:*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    @if (Model.Quotation.CustomVarient.FirstOrDefault().IsCgstOnly)
                    {
                        totalSgst = totalCgst = 0.00.ToString("C2"); totalIgst = Model.Quotation.CustomVarient?.Sum(el =>el.Count * el.CustomePrice * (el.Varient.CGST + el.Varient.SGST) / 100).ToString("C2");
                        <table border="1" style="width:inherit">
                            <thead class="text-center bg-secondary bg-light">
                                <tr></tr>
                                <tr>
                                    <th rowspan="2" style="width:3%">Sr. No.</th>
                                    <th rowspan="2" style="width:32%">Description</th>
                                    <th rowspan="2" style="width:5%">HSN</th>
                                    <th rowspan="2" style="width:5%">Qty</th>
                                    <th rowspan="2" style="width:10%">Rate</th>
                                    <th colspan="2">IGST</th>
                                    <th rowspan="2">Amount</th>
                                </tr>
                                <tr>
                                    <th style="width:3%">%</th>
                                    <th style="width:10%">amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (byte i = 0; i < Model.Quotation.CustomVarient.Count(); i++)
                                {
                                    var varient = Model.Quotation.CustomVarient[i]; var SrNo = i + 1; var igst = varient.Varient.CGST + varient.Varient.SGST;
                                    var igstAmount = varient.Count * varient.CustomePrice * igst / 100; var totalAmount = varient.Count * varient.CustomePrice + igstAmount;
                                    <tr>
                                        <td>
                                            @SrNo
                                        </td>
                                        <td>
                                            <strong>@varient.Varient?.Product.ProductName</strong> <br />
                                            &nbsp;&nbsp;&nbsp;&nbsp;@varient.Varient?.VarientName
                                        </td>
                                        <td>
                                            @varient.Varient?.Product.ProductCode
                                        </td>
                                        <td class="text-center">
                                            @varient.Count
                                        </td>
                                        <td class="text-center">
                                            
                                            @varient.CustomePrice.ToString("C2")
                                        </td>
                                        <td class="text-center">
                                            @igst
                                        </td>
                                        <td class="text-center">
                                            @igstAmount.ToString("C2")
                                        </td>
                                        <td class="text-center">
                                            @totalAmount.ToString("C2")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td colspan="5" class="text-right pr-3">
                                        <strong>Total</strong>
                                    </td>
                                    <td class="text-center">
                                        @totalIgst
                                    </td>
                                    <td class="text-center">
                                        @Model.Quotation.CustomVarient?.Sum(el => el.Cgst + el.Sgst + el.Count * el.CustomePrice).ToString("C2")
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    }
                    else
                    {
                        totalSgst = Model.Quotation.CustomVarient?.Sum(el => el.CustomePrice * (el.Varient.SGST) / 100).ToString("C2"); totalCgst = Model.Quotation.CustomVarient?.Sum(el => el.CustomePrice * (el.Varient.CGST) / 100).ToString("C2"); totalIgst =0.00.ToString("C2") ;
                <table border="1" style="width:inherit">
                    <thead class="text-center bg-secondary bg-light">
                        <tr></tr>
                        <tr>
                            <th rowspan="2" style="width:3%">Sr. No.</th>
                            <th rowspan="2" style="width:32%">Description</th>
                            <th rowspan="2" style="width:5%">HSN</th>
                            <th rowspan="2" style="width:5%">Qty</th>
                            <th rowspan="2" style="width:10%">Rate</th>
                            <th colspan="2">CGST</th>
                            <th colspan="2">SGST</th>
                            <th rowspan="2">Amount</th>
                        </tr>
                        <tr>
                            <th style="width:3%">%</th>
                            <th style="width:10%">Amount</th>
                            <th style="width:3%">%</th>
                            <th style="width:10%">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (byte i = 0; i < Model.Quotation.CustomVarient.Count(); i++)
                        {
                            var varient = Model.Quotation.CustomVarient[i]; var SrNo = i + 1; var cgst = varient.Varient.CGST; var sgst = varient.Varient.SGST;
                            var cgstAmount = varient.CustomePrice * cgst / 100; var sgstAmount = varient.CustomePrice * sgst / 100; var totalAmount = varient.Count * (varient.CustomePrice + cgstAmount + sgstAmount);

                            <tr>
                                <td>
                                    @SrNo
                                </td>
                                <td>
                                    <strong>@varient.Varient?.Product.ProductName</strong> <br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;@varient.Varient?.VarientName
                                </td>
                                <td>
                                    @varient.Varient?.Product.ProductCode
                                </td>
                                <td class="text-center">
                                    @varient.Count
                                </td>
                                <td class="text-center">
                                    @varient.CustomePrice
                                </td>
                                <td class="text-center">
                                    @cgst
                                </td>
                                <td class="text-center">
                                    @cgstAmount
                                </td>
                                <td class="text-center">
                                    @sgst
                                </td>
                                <td class="text-center">
                                    @sgstAmount
                                </td>
                                <td class="text-center">
                                    @totalAmount
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td colspan="5" class="text-right pr-3">
                                <strong>Total</strong>
                            </td>
                            <td class="text-center">
                                @totalCgst
                            </td>
                            <td>

                            </td>
                            <td class="text-center">
                                @totalSgst
                            </td>
                            <td class="text-center">
                                @Model.Quotation.CustomVarient?.Sum(el => el.Cgst + el.Sgst + el.Count * el.CustomePrice)
                            </td>
                        </tr>
                    </tfoot>
                </table>
                    }

                </div>
                <div class="col-sm-12">
                    <div class="row mt-1">
                        <div class="col-sm-7 pt-4 border">
                            Terms and Conditions:<br />
                            E. & O.E.
                            <ol>
                                <li>
                                    Goods once sold will not be taken back.
                                </li>
                                <li>
                                    Intrest &#64; 24% p.a. will be charged if payment is not made in 2 weeks.
                                </li>
                                <li>
                                    Subject to "Haryana" jurisdiction only.
                                </li>
                            </ol>
                            <div class="row border">
                                <div class="col-sm-6 border" style="height:50px">

                                </div>
                                <div class="col-sm-6 border" style="height:50px">

                                </div>
                                <div class="col-sm-6 border">
                                Reciever's Signature
                                </div>
                                <div class="col-sm-6 border">
                                    For Shree Shyam Enterprise
                                </div>
                                <div class="col-sm-12">
                                    <b>Note: </b>Make all cheques/NEFT/RTGS/IMPS payable to SHREE SHYAM ENTERPRISES
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-5 border">
                            <div class="row">
                                <div class="col-sm-8 border">
                                    <strong>Summary</strong>
                                </div>
                                <div class="col-sm-4 border">
                                    <strong>Amount</strong>
                                </div>
                            </div>
                            <div class="row" style="height:40px">
                                <div class="col-sm-8 border">
                                    Total Invoice Value
                                </div>
                                <div class="col-sm-4 border">
                                    : @Model.Quotation.CustomVarient?.Sum(el => el.CustomePrice * el.Count).ToString("C2")
                                </div>
                            </div>
                            <div class="row" style="height:40px">
                                <div class="col-sm-8 border">
                                    Total CGST
                                </div>
                                <div class="col-sm-4 border">
                                    : @totalCgst
                                </div>
                            </div>
                            <div class="row " style="height:40px">
                                <div class="col-sm-8 border">
                                    Total SGST
                                </div>
                                <div class="col-sm-4 border">
                                    : @totalSgst
                                </div>
                            </div>
                            <div class="row " style="height:40px">
                                <div class="col-sm-8 border">
                                    Total IGST
                                </div>
                                <div class="col-sm-4 border">
                                    : @totalIgst
                                </div>

                            </div>
                            <div class="row " style="height:40px">
                                <div class="col-sm-8 border">
                                    Shipping Charges
                                </div>
                                <div class="col-sm-4 border">
                                    : @Model.Quotation.ShippingCharges.ToString("C2")
                                </div>

                            </div>
                            <div class="row " style="height:35px">
                                <div class="col-sm-8 border">
                                    Grand Total
                                </div>
                                <div class="col-sm-4 border">
                                    @{
                                        string totalValue = (Model.Quotation.CustomVarient.Sum(el => el.Cgst + el.Sgst + el.Count * el.CustomePrice) + Model.Quotation.ShippingCharges).ToString("C2");
                                    }
                                    : @totalValue
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <strong>Our Bank Detail-> @Model.BusinessDetails.FirstOrDefault().BankDetail.ToString();</strong>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <input type="button" class="btn btn-info" value="Print" onclick="showPrintArea()" />
    </div>
    <div class="col-sm-6">

    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var isPoNumberAdded = false;
        function addPoNumber() {
            var po = prompt("Please enter PO Number");

            if (po != null) {
                document.getElementById("ponumber").innerHTML = po;
                isPoNumberAdded = true;
            } else {
                isPoNumberAdded = false;
            }
        }
        function showPrintArea() {
            //Get the HTML of div
            var divElements = document.getElementById("PrintableArea").innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
                `<html><head><title></title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
                </head><body><div class="container">` +
                divElements + "</div></body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;


        }
    </script>
}
