@model SSEInvoice.Models.Varient

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Varient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.UnitName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VarientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VarientName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SGST)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SGST)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CGST)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CGST)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VarientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
